
<!DOCTYPE html>
<html lang="de-CH">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico|Rubik" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!--START META DATA PAGE DESCRIPTION-->
<meta name="Author" content="Calmar Solutions Schweiz - Erin McGowan - www.calmarsolutions.ch">
<meta name="Copyright" content="Calmar Solutions">
<meta name="Credit" content="https://thenounproject.com/">
<meta name="description" content="Margs Surfcamp Margaret River">
<meta name="keywords" content="Surfing, Camping, Margaret River, Western Australia">
<!--END META DATA PAGE DESCRIPTION-->
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<title>WeeeTel</title>
</head>
<body>
<a href="#top"><img class="arrow_image" src="/static/img/TE-WE.png"></a>
<a name="top"></a>
<div id="change_class" class="flex_container section menu_section">
	<div class="flex_item branding"><p></p></div>
	<div class="flex_item menu_item dropdown">
		<p>Menu</p>
		<div class="dropdown-content">
			<div class="menu_item menu_item_inside"><a href="#top"><p>Inicio</p></a></div>
			<div class="menu_item menu_item_inside"><a href="#map"><p>Mapa</p></a></div>
			<a href=""><div class="menu_item menu_item_inside"><a href="#team"><p>Equipes</p></a></div>
			<a href=""><div class="menu_item menu_item_inside"><a href="#contact"><p>Sobre</p></a></div>
		</div>
	</div>
	<div class="flex_item menu_item menu_item_outside"><a href="#top"><p>Inicio</p></a></div>
	<div class="flex_item menu_item menu_item_outside"><a href="#map"><p>Mapa</p></a></div>
	<div class="flex_item menu_item menu_item_outside"><a href="#team"><p>Equipes</p></a></div>
	<div class="flex_item menu_item menu_item_outside"><a href="#contact"><p>Sobre</p></a></div></a>
</div>

<div class="section page header_section">
<div class="gradient gradient_red_blue gradient_header_section"></div>
	<div class="section_container header_section_container flex_container flex_header_container">
		<div class="text header_text">
			<h1>WeeeTel</h1>
		</div>
		<div class="text body_text flex_item flex_header_item">
			<h2 class="header_quote">Promovendo tecnologia e ecologia!</h2>
		</div>
	</div>
</div>
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIrAFDnrqEiUAbIDR3DbwSETJpUjIz0jI&callback=initMap"></script>

<script src="/static/js/script.js"></script>
<div class="section page second_section">
<a name="team"></a>
	<div class="section_container second_section_container flex_container flex_center">
		<div class="text header_text text_grad_purple_yellow">
			<h1>As equipes</h1>
		</div>
		
			<div class="feature flex_feature_item feature1">
				<div class="feature_image"></div>
				<h2>Programação</h2>
				<p>É a equipe encarregada da programação do servidor e da comunicação cliente-servidor. </p>
			</div>
		</a>
		
			<div class="feature flex_feature_item feature2">
				<div class="feature_image"></div>
				<h2>Identificação</h2>
				<p>É o setor que tem como objetivo identificar o usuário e sincronizar os dados do CPF do usuário já cadastrado com o nosso banco de dados.</p>
			</div>
		</a>
		
			<div class="feature flex_feature_item feature3">
				<div class="feature_image"></div>
				<h2>Pesagem</h2>
				<p>É o setor responsável pelo funcionamento das células de carga, na montagem do circuito e nos códigos que serão utilizados para obter o peso do lixo eletrônico.</p>
			</div>
			
		</a>
		
			<div class="feature flex_feature_item feature4">
				<div class="feature_image"></div>
				<h2>Administrativo</h2>
				<p>O setor administrativo cuida de três áreas, o marketing, que gerencia as redes sociais e desenvolve a identidade do projeto, a parte das relações externas e internas além da gestão financeira são funções desse setor.</p>
			</div>
		</a>
		
			<div class="feature flex_feature_item feature5">
				<div class="feature_image"></div>
				<h2>Hardware</h2>
				<p>É a equipe responsável pela comunicação entre os componentes e o sistema para se ter a solução final.</p>
			</div>
		</a>
	</div>
</div>

<div class="section page third_section">
<a name="contact"></a>
	<div class="gradient gradient_red_yellow gradient_third_section"></div>
	<div class="section_container third_section_container flex_container flex_center">
		<div class="text header_text">
			<h1>Projeto</h1>
		</div>
		<div class="feature offer flex_feature_item offer1">
			
			<br>
			<br>
			<p>Na 7ª fase do curso, a turma realizou uma visita técnica em uma empresa que realiza a coleta e a logística reversa do lixo eletrônico onde nos foi proposto um desafio, como as lixeiras (Caixas) dessa empresa poderiam se tornar mais autônomas/inteligentes. A turma acabou se interessando pela ideia e resolveu adotá-la como tema do projeto integrador da fase seguinte e assim surgiu a WeeeTel.

			</p><br>
			
		</div></a>
		<div class="feature offer flex_feature_item offer2"><br>
			<br>
			<br>
			<p>A ideia como citada acima, é transformar as simples caixas da empresa em lixeiras inteligentes. Em teoria, a lixeira irá pesar automaticamente o seu peso atual após um depósito de resíduos eletrônicos. Esses dados (Peso) serão enviados automaticamente para um banco de dados/site onde os dados poderão ser observados pelo proprietário dessas lixeiras, para que ele possa programar a retirada dos resíduos quando elas estiverem cheias, o que hoje não acontece, onde o responsável pelas caixas necessita do contato com o local em que as lixeiras se encontram para saber sua capacidade e só então programar a retirada do lixo. </p>
		</div></a>
		
		</div></a>
	</div>
</div>



<div class="section footer_section">
	<p class="footer_text">® WeeeTel 2019</p>
</div>

<!--SCRIPT SECTION-->

</body>
</html> .