{% from '_render_field.html' import render_field %}

<html>

<head>
    <title>Registro</title>
</head>
<b>
    <h1>Prencha o formulario de registro</h1>
    <form method='POST' action="{{ url_for('site.registro') }}">
        {{ formulario.csrf_token}}

        {{ render_field(formulario.usuario )}}

        {{ render_field(formulario.senha )}}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style='color: red'>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        {{ formulario.recaptcha}}

        <input type="submit" value="Enviar">

    </form>
</b>

</html>
